body{
  margin: 0;
  padding: 0;
}

.files-uimain-container {
  transition: all 0.4s ease-in-out;
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  color: #0a1929;
}
.files-uimain-container .filesui-nav {
  transition: all 0.4s ease-in-out;
  color: #042354;
  height: 64px;
  background-color: rgba(255, 255, 255, 0.559);
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: rgb(234, 238, 243) 0px -1px 1px inset;
  width: 100%;
  font-weight: 300;
}
.files-uimain-container .filesui-nav .filesui-nav-container {
  box-sizing: border-box;
  padding: 0 10px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  max-width: 1280px;
}
.files-uimain-container .filesui-nav .filesui-nav-container p {
  letter-spacing: 0em;
  line-height: 1.334;
  font-size: 1.6rem;
}
.files-uimain-container .filesui-nav .filesui-nav-container .filesui-nav-logo-container {
  margin-right: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.files-uimain-container .filesui-nav .filesui-nav-container .filesui-nav-logo-container.darkmode {
  border-radius: 8px;
  padding: 2px 0;
  background-color: rgba(255, 255, 255, 0.8);
}
.files-uimain-container .filesui-nav .filesui-nav-container .filesui-nav-logo-container .filesui-nav-logo {
  width: 45px;
  height: 45px;
  width: 45px;
}
.files-uimain-container .filesui-nav .filesui-nav-container .left-part {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.files-uimain-container .filesui-nav .filesui-nav-container .left-part .filesui-nav-text-logo {
  font-size: 1.4rem;
  color: #0a1929;
  font-weight: 300;
}
.files-uimain-container .filesui-nav .filesui-nav-container .right-part {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
}
.files-uimain-container .filesui-main {
  margin: auto;
  width: 100%;
  max-width: 1280px;
  min-height: calc(100vh - 64px);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 30px;
  box-sizing: border-box;
  padding: 0 28px;
}
.files-uimain-container .filesui-main .fui-main-left {
  width: 48%;
  padding: 0 5px;
  padding-top: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 64px);
}
.files-uimain-container .filesui-main .fui-main-left .filesui-main-logo-container.darkmode {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px 0px;
}
.files-uimain-container .filesui-main .fui-main-left .filesui-main-logo-container .fui-logo-img {
  width: 156px;
  height: 156px;
}
.files-uimain-container .filesui-main .fui-main-left .fui-logo-text {
  font-size: 3.2rem;
  font-weight: 700;
  text-align: center;
  letter-spacing: 1px;
  margin: 20px 0;
  padding: 0;
  line-height: 3.5rem;
}
.files-uimain-container .filesui-main .fui-main-left .fui-description {
  margin: 0;
  font-size: 1.5rem;
  font-weight: 300;
}
.files-uimain-container .filesui-main .fui-main-right {
  padding: 0 5px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 52%;
  min-height: calc(100vh - 64px);
  max-height: 1280px;
}
.files-uimain-container .filesui-footer {
  min-height: 64px;
  background-color: #042354;
  color: white;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.files-uimain-container .files-ui-secondary-container {
  width: 100%;
  background-color: #f3f6f9;
}
.files-uimain-container .files-ui-secondary-container.darkmode {
  background-color: #001e3c;
}
.files-uimain-container .files-ui-secondary-container {
  padding-bottom: 28px;
}
.files-uimain-container .files-ui-secondary-container .secondary-content {
  margin: auto;
  width: 100%;
  max-width: 1280px;
}
.files-uimain-container .files-ui-secondary-container .secondary-content .secondary-content-flex {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  gap: 30px;
  box-sizing: border-box;
  padding: 0 28px;
  flex-wrap: wrap;
}
.files-uimain-container .files-ui-secondary-container .secondary-content .secondary-content-flex .secondary-item {
  flex-grow: 1;
  min-width: 30%;
}
@media (max-width: 900px) {
  .files-uimain-container .files-ui-secondary-container .secondary-content .secondary-right {
    width: 100%;
  }
  .files-uimain-container .files-ui-secondary-container .secondary-content .secondary-left {
    width: 100%;
  }
}
.files-uimain-container .files-ui-secondary-container .secondary-content .secondary-right {
  box-sizing: border-box;
  width: 50%;
  margin: auto;
}
.files-uimain-container .files-ui-secondary-container .secondary-content .secondary-left {
  box-sizing: border-box;
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.files-uimain-container .gradient-span {
  font-weight: 700;
  background: linear-gradient(to right, #042354, #042354, #55b4f2, #042354, #042354);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}
.files-uimain-container.darkmode {
  background-color: #0a1929;
  color: rgba(255, 255, 255, 0.7);
}
.files-uimain-container.darkmode .filesui-nav {
  background-color: rgba(4, 35, 84, 0.559);
  color: rgba(255, 255, 255, 0.7);
  box-shadow: rgba(234, 238, 243, 0.161) 0px -1px 1px inset;
}
.files-uimain-container.darkmode .gradient-span {
  font-weight: 700;
  background: linear-gradient(to right, #55b4f2, #55b4f2);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}
@media screen and (max-width: 900px) {
  .files-uimain-container {
    width: 100%;
  }
  .files-uimain-container .filesui-nav {
    transition: all 0.4s ease-in-out;
    color: #042354;
    height: 64px;
    background-color: rgba(255, 255, 255, 0.559);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: rgb(234, 238, 243) 0px -1px 1px inset;
    width: 100%;
    font-weight: 300;
  }
  .files-uimain-container .filesui-nav .filesui-nav-container p {
    letter-spacing: 0em;
    line-height: 1.334;
    font-size: 1rem;
  }
  .files-uimain-container .filesui-nav .filesui-nav-container .filesui-nav-logo-container {
    margin-right: 7px;
  }
  .files-uimain-container .filesui-nav .filesui-nav-container .filesui-nav-logo-container .filesui-nav-logo {
    width: 35px;
    height: 35px;
  }
  .files-uimain-container .filesui-nav .filesui-nav-container .left-part {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .files-uimain-container .filesui-nav .filesui-nav-container .left-part p {
    font-size: 1.1rem;
    width: 150px;
  }
  .files-uimain-container .filesui-main {
    flex-direction: column;
    gap: 5px;
    align-items: center;
    width: 100%;
  }
  .files-uimain-container .filesui-main .fui-main-left,
  .files-uimain-container .filesui-main .fui-main-right {
    width: 100%;
    margin-bottom: 20px;
  }
  .files-uimain-container .filesui-main .fui-main-left {
    min-height: auto;
  }
  .files-uimain-container .filesui-main .fui-main-left .fui-logo-img {
    width: 30vw;
    height: auto;
  }
  .files-uimain-container .filesui-main .fui-main-left .fui-logo-text {
    font-size: 2.8em;
    text-align: center;
  }
  .files-uimain-container .filesui-main .fui-main-left .fui-description {
    text-align: left;
  }
  .files-uimain-container .filesui-footer {
    font-size: smaller;
  }
}

.rc-hl-code-line {
  font-size: 16px !important;
  line-height: 19px !important;
}
